{% extends "base_login.html" %}

{% block title %}Iniciar sesion{% endblock %}

{% block content_login %}
<div class="alert alert-danger loginexte-form validate-form" role="alert">
    <h2 class="text-center">Link no valido</h2><br>
    <p>El enlace de restablecimiento de contraseña es inválido o ya fue usado. Por favor, solicita un nuevo restablecimiento.</p>
    <div class="text-center p-t-12">
        <a class="txt2" href="{% url 'recovery_password' %}">
            Solicitar nuevo enlace
        </a>
    </div>
    <div class="text-center p-t-12">
        <a class="txt2" href="{% url 'login' %}">
            Volver al login
        </a>
    </div>
</div>
{% endblock %}
