{% extends "base.html" %}
{% load static %}
{% block contenido %}
    <div class="page-inner">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
                <div class="col-12 col-md-10">
                    <h4 class="card-title">Reservas</h4>
                </div>
                <div class="col-12 col-md-12 text-md-end text-center mt-2 mt-md-0">
                    <a href="{% url 'reservation_create' %}" class="btn btn-secondary">
                        <span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>
                        Crear Reserva
                    </a>
                    <a href="{% url 'calendar' %}" class="btn btn-secondary">
                        <span class="btn-label">
                            <i class="fa fa-calendar"></i>
                        </span>
                        Calendario
                    </a>
                </div>
            
            </div>
        </div> 
          <div class="card-body">
            <div class="table-responsive">
              <table id="multi-filter-select" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Datos del cliente</th>
                    <th class="text-center">Espacio</th>
                    <th class="text-center">Hora de inicio</th>
                    <th class="text-center">Hora fin</th>
                    <th class="text-center">Gestión</th>
                  </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                  <tr>
                    <td class="text-center">{{ reservation.id }}</td>
                    <td class="text-center">{{ reservation.client_name }}</td>
                    <td class="text-center">{{ reservation.space }}</td>
                    <td class="text-center">{{ reservation.reservation_start|date:"j \d\e F \d\e Y \- g:i a" }}</td>    
                    <td class="text-center">{{ reservation.reservation_end|date:"j \d\e F \d\e Y \- g:i a" }}</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center gap-2">
                            <a href="{% url 'reservation_update' reservation.id %}" 
                               class="btn btn-icon btn-round btn-black btn-secondary"
                               data-bs-toggle="tooltip" 
                               data-bs-placement="top" 
                               title="Editar reserva">
                                <i class="fa fa-edit"></i>
                            </a>
                            
                            <a href="{% url 'reservation_delete' reservation.id %}" 
                               class="btn btn-icon btn-round btn-black btn-danger"
                               data-bs-toggle="tooltip" 
                               data-bs-placement="top" 
                               title="Eliminar reserva">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>                                      
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/app/tools.js' %}"></script>
{% endblock %}